@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    overflow-x:hidden;
    overflow-y: auto;
    position: relative;
}

.heading{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size:3rem;
    padding: 10px;
    margin-bottom: 10px;   
}

h1 {
    font-size: 72px;
    background:linear-gradient(45deg, 
    #F18F43 50%, 
    #8B9862 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.grid-container{
    height: max-content;
    max-width: 1200px;
    margin: 0 auto;
}

.grid-item{
    position: relative;
    width: 350px;
    height: 350px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.img-gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    padding: 20px;
    justify-items: center;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    filter: grayscale();
}

img:hover{
    filter: none;
    transition: all 0.5s;
}

.grid-item:hover{
    transform: scale(1.03);
    transition: all 0.5s ;
    filter:drop-shadow(0px 0px 20px #333);
}

.grid-item:hover figcaption{
    opacity: 100;
    transition: 0.5s;
}

figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20%;
    width: 100%;
    padding: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    opacity: 0;
    color: #FFF;
    border-radius: 10px;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0,0,0,0) 100%, rgba(251, 251, 251, 0.366) 100%);
}

